{% extends 'base.html' %}

{% block title %}Оферта{% endblock %}
{% block content %}
<main class="page">
    <section class="page__name page-name">
        <h1 class="page-name__title"><a href="/">Политика конфиденциальности</a></h1>
    </section>
    <div class="oferta__container">
        <style>
            .oferta__container a {
                color: rgb(25, 0, 255);
            }

            .oferta__container strong {
                font-size: 1.6rem;
            }
        </style>
        <div class="t-col t-col_12 ">
            <div field="text" class="t-text t-text_md " style="font-size: 1.2rem;color: #000; padding-bottom: 1.5rem;">
                <div style="text-align:left;" data-customstyle="yes"><strong> Политика конфиденциальности и условия
                        оплаты</strong><br><br> <strong> I.</strong> <strong>Платежи.</strong><br><br>
                    <strong>1.</strong> <strong>Оплата банковской картой онлайн</strong> <br><br> Cервис tatex.kz
                    подключен к интернет-эквайрингу, и Вы можете оплатить Услугу банковской картой международных
                    платежных систем. После подтверждения выбранного Тарифа откроется защищенное окно с платежной
                    страницей процессингового центра ДБ АО «Сбербанк». <br><br> Вам необходимо ввести данные Вашей
                    банковской карты. Для дополнительной аутентификации держателя карты используется протокол 3-D
                    Secure. Если Ваш Банк-эмитент поддерживает данную технологию, Вы будете перенаправлены на его сервер
                    для прохождения дополнительной идентификации. Информацию о правилах и методах дополнительной
                    идентификации уточняйте в уполномоченном Банке - эмитенте. <br><br> Услуга онлайн-оплаты
                    осуществляется в соответствии с правилами Международных платежных систем на принципах соблюдения
                    конфиденциальности и безопасности совершения платежа, для этого используются самые актуальные методы
                    проверки, шифрования и передачи данных по закрытым каналам связи. Ввод данных банковской карты
                    осуществляется в защищенном окне на платежной странице процессингового центра. <br><br> В поля на
                    платежной странице требуется ввести номер карты, имя владельца карты, срок действия карты,
                    трехзначный код безопасности (CVV2 для VISA или CVC2 для MasterCard). Все необходимые данные
                    отображены на поверхности банковской карты. CVV2/ CVC2 — это трехзначный код безопасности,
                    находящийся на оборотной стороне карты. <br><br> Далее в том же окне откроется страница Вашего
                    банка-эмитента для ввода 3-D Secure кода. В случае, если у вас не настроен статичный 3-D Secure, он
                    будет отправлен на ваш номер телефона посредством SMS. Если 3-D Secure код к Вам не пришел, то
                    следует обратится в ваш банк-эмитент. <br><br> 3-D Secure — это самая современная технология
                    обеспечения безопасности платежей по картам в сети интернет. Позволяет однозначно идентифицировать
                    подлинность держателя карты, осуществляющего операцию, и максимально снизить риск мошеннических
                    операций по карте. <br><br> <br><br> <strong>2.</strong> <strong>Гарантии безопасности</strong>
                    <br><br> Процессинговый центр ДБ АО «Сбербанк» защищает и обрабатывает данные Вашей банковской карты
                    по стандарту безопасности PCI DSS 3.0. Передача информации в платежный шлюз происходит с применением
                    технологии шифрования SSL. Дальнейшая передача информации происходит по закрытым банковским сетям,
                    имеющим наивысший уровень надежности. ДБ АО «Сбербанк» не передает данные Вашей карты иным третьим
                    лицам. Для дополнительной аутентификации держателя карты используется протокол 3-D Secure. <br><br>
                    В случае, если у Вас есть вопросы по совершенному платежу, Вы можете обратиться напрямую в службу
                    поддержки клиентов платежного сервиса по электронной почте <a
                        href="mailto:info@tatex.kz">info@tatex.kz</a> <br><br> <br><br> <strong>3.</strong>
                    <strong>Безопасность онлайн платежей</strong> <br><br> Предоставляемая Вами персональная информация
                    (имя, адрес, телефон, e-mail, номер кредитной карты) является конфиденциальной и не подлежит
                    разглашению. Данные Вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на
                    сервисе tatex.kz. <br><br> Безопасность обработки Интернет-платежей гарантирует ИП Павлов. Все
                    операции с платежными картами происходят в соответствии с требованиями международных платежных
                    систем. При передаче информации используются специализированные технологии безопасности карточных
                    онлайн-платежей, обработка данных ведется на безопасном высокотехнологичном сервере процессинговой
                    компании. <br><br> Оплата платежными картами безопасна, потому что: Система авторизации гарантирует
                    покупателю, что платежные реквизиты его платежной карты (номер, срок действия, CVV2/CVC2) не попадут
                    в руки мошенников, так как эти данные не хранятся на сервере авторизации и не могут быть похищены.
                    <br><br> Покупатель вводит свои платежные данные непосредственно в системе авторизации ДБ АО
                    «Сбербанк», а не в приложении tatex.kz, следовательно, платежные реквизиты карточки покупателя не
                    будут доступны третьим лицам. <br><br> <br><br> <strong>4.</strong> <strong>Правила покупки
                        услуги</strong> <br><br> Оплачивая выбранный тариф на сервисе tatex.kz, вы подтверждаете
                    согласие с договором публичной оферты, расположенным по адресу <a
                        href="/oferta">https://tatex.kz/oferta</a>. <br><br> <br><br>
                    <strong>5.</strong> <strong>Возврат денежных средств</strong> <br><br> Для возврата денежных средств
                    на банковскую карту необходимо заполнить «Заявление о возврате денежных средств», которое высылается
                    по требованию компанией на электронный адрес, и оправить его вместе с приложением копии документа,
                    удостоверяющего личность, по адресу <a href="mailto:info@tatex.kz">info@tatex.kz</a>. <br><br>
                    Возврат денежных средств будет осуществлен на банковскую карту в течение 10 рабочих дней со дня
                    получения «Заявления о возврате денежных средств» Компанией при наличии обоснованных претензий по
                    оказанию услуг. <br><br> Для возврата денежных средств по операциям, проведенным с ошибками,
                    необходимо обратиться с письменным заявлением и приложением копии документа, удостоверяющего
                    личность, и чеков/квитанций, подтверждающих ошибочное списание. Данное заявление необходимо
                    направить по адресу <a href="mailto:support@1fit.app">info@tatex.kz</a> <br><br> Сумма возврата
                    будет равняться сумме покупки за вычетом стоимости оказанных услуг. Срок рассмотрения Заявления и
                    возврата денежных средств начинает исчисляться с момента получения Компанией Заявления и
                    рассчитывается в рабочих днях без учета праздников/выходных дней. <br><br> <br><br>
                    <strong>6.</strong> <strong>Причины отказа в совершении платежа:</strong> <br><br> банковская карта
                    не предназначена для совершения платежей через интернет, о чем можно узнать, обратившись в Ваш
                    Банк-эмитент; <br><br> недостаточно средств для оплаты на банковской карте. Подробнее о наличии
                    средств на платежной карте Вы можете узнать, обратившись в банк, выпустивший банковскую карту;
                    <br><br> данные банковской карты введены неверно; <br><br> истек срок действия банковской карты.
                    Срок действия карты, как правило, указан на лицевой стороне карты (это месяц и год, до которого
                    действительна карта). Подробнее о сроке действия карты Вы можете узнать, обратившись в банк-эмитент.
                    <br><br> По вопросам оплаты с помощью банковской карты и иным вопросам, связанным с работой сервиса
                    tatex.kz, Вы можете обратиться по телефону: +77057774600 <br><br><br> II.
                    <strong>Конфиденциальность</strong> <br><br> <strong>1.</strong> <strong>Общие положения</strong>
                    <br><br> Нормы настоящей Политики конфиденциальности (далее – Политика) действуют в отношении любой
                    информации (персональных данных), которая может стать известной Сервису и его Администрации в
                    процессе использования Сервиса Пользователями, в том числе в процессе прохождения ими процедуры
                    регистрации и/или при любом другом использовании функционала Сервиса, через защищенные страницы.
                    Деятельность сервиса tatex.kz <em></em> носит открытый характер. Использование Сервиса (в любом
                    объеме, форме и т.д.) означает полное согласие такого Пользователя с условиями настоящей Политики
                    конфиденциальности и порядком обработки персональных данных такого Пользователя. Акцептом настоящей
                    Политики конфиденциальности является прохождение процедуры регистрации в Сервисе, а также любые
                    другие действия, которые направлены на ознакомление с Сервисом, и/или использованием его
                    функционала, доступного без регистрации, а также действия, которые могут восприниматься
                    Администрацией Сервиса как такие, которые направлены на использование Сервиса или его функционала. В
                    случае, если Пользователь не согласен с положениями, которые содержатся в нормах Политики
                    конфиденциальности, он обязан прекратить использование Сервиса. Любое использование Сервиса
                    Пользователем означает его полное согласие и принятие всех положений настоящей Политики
                    конфиденциальности. Настоящая Политика конфиденциальности применяется только к Сервису.
                    Администрация Сервиса не контролирует и не несет ответственность за Интернет ресурсы третьих лиц, на
                    которые Пользователь может перейти по ссылкам, доступным в Сервисе. Администрация Сервиса не
                    проверяет достоверность персональных данных, предоставляемых Пользователем Сервису, но оставляет за
                    собой право мониторинга достоверности таких персональных данных. В случае, если одно или несколько
                    положений настоящей Политики конфиденциальности утратит свою силу или окажется недействительным, или
                    не имеющим юридической силы, это не оказывает влияния на действительность или применимость остальных
                    положений настоящей Политики конфиденциальности. Пользователь несет персональную ответственность за
                    проверку настоящей Политики конфиденциальности на наличие изменений в ней. Администрация Сервиса
                    оставляет за собой право по своему личному усмотрению изменять или дополнять настоящую Политику
                    конфиденциальности в любое время без предварительного и последующего уведомления. Политика является
                    неотъемлемой частью Правил оказания услуг tatex.kz. Слова с прописной буквы используются в том же
                    значении, что и в Правилах оказания услуг. tatex.kz вправе в любое время вносить изменения в
                    Политику. Измененная редакция Политики вступает в силу с момента ее размещения на сайте компании ИП
                    Павлов. Дата размещения указывается в документе. Данные, которые передаются в силу общих принципов
                    соединений, реализуемых в Интернете, и содержатся в системных логах (например, адрес IP),
                    используются Сервисом tatex.kz в технических целях, связанных с администрированием нашего сервиса.
                    Кроме того, адреса IP используются для сбора статистических и демографических данных (например, о
                    регионе, из которого реализуется соединение). Сайт <a href="/">https://tatex.kz</a>
                    <em></em> может использовать cookies для предоставления услуг и контента в соответствии с
                    индивидуальными потребностями и интересами. Отключение cookies в браузере в основном не будет
                    блокировать пользование нашими услугами, но может вызвать определенные сложности. Cookies также
                    используются для сбора статистических сведений об использовании наших сервисов. <br><br> <br><br>
                    ПРАВО НА ПРОВЕРКУ, ИЗМЕНЕНИЕ И УДАЛЕНИЕ ДАННЫХ. ОГРАНИЧЕНИЯ <br><br> Пользователь или Партнер имеет
                    право на просмотр своих данных в любой момент, а также располагает возможностью обновить или удалить
                    их по согласованию с Компанией ИП Павлов. Во избежание повторной регистрации лиц, участие которых на
                    сайте <a href="/">https://tatex.kz</a> было прекращено по причине неправомерного
                    использования наших услуг, мы можем отказать в удалении данных, необходимых для блокировки
                    возможности повторной регистрации. Отказ в удалении данных может также иметь место в случаях,
                    предусмотренных законодательством. В случаях, когда это допускается законодательством, ИП Павлов
                    <em></em> может также раскрыть определенные данные Пользователя или Партнера третьим лицам, если это
                    связано с защитой авторских (или других) прав этих третьих лиц (но исключительно по письменному
                    заявлению правообладателя), либо на основании договора между компанией ИП Павлов и третьим лицом в
                    отношении Сервиса (такой договор обязательно содержит условие об обеспечении третьим лицом
                    конфиденциальности и безопасности). Правообладатель, подавший такое заявление, обязан представить
                    документальные доказательства факта обладания авторскими (или другими) правами на
                    контент/продукт/услугу. Должно также возникнуть явное подозрение на нарушение этих прав. ИП Павлов
                    может также открыть доступ к имеющимся у нее данным Пользователя по желанию или при согласии самого
                    Пользователя, либо по требованию государственных органов, обладающих правом на получение данных на
                    основании нормативно-правового акта. Электронные сообщения, направляемые в компанию ИП Павлов,
                    архивируются (сохраняются) и могут в определенных случаях использоваться в качестве доказательства.
                    Сервис tatex.kz <em></em> полагается на то, что все предоставленные Пользователями при регистрации и
                    впоследствии данные достоверны и Пользователи самостоятельно исправляют неверные или устаревшие
                    данные. Пользователи также гарантируют, что они сообщают только свои собственные данные, либо
                    получили надлежащим образом оформленное согласие третьего лица - субъекта данных на сообщение его
                    данных. За нарушение этих правил Пользователями ИП Павлов <em></em> ответственности не несет.
                    <br><br> ССЫЛКИ НА ДРУГИЕ ИНТЕРНЕТ-САЙТЫ <br><br> Сервис tatex.kz <em></em> не несет ответственности
                    за политику защиты данных, которая применяется владельцами или администраторами других сайтов (в
                    т.ч. сайтов Партнеров), на которые Пользователь переходит по ссылкам, размещенным на Сервисе
                    tatex.kz. Мы рекомендуем ознакомиться с содержанием заявлений о защите данных, которые размещены на
                    соответствующих сайтах, до ввода своих данных. Пользователь или Партнер несет полную ответственность
                    за контент, который находится на сайте, на который ведет ссылка, размещенная ими на Сервисе
                    tatex.kz. <br><br> СВЕДЕНИЯ (сообщения, уведомления) КОТОРЫЕ ОТПРАВЛЯЮТСЯ ПОЛЬЗОВАТЕЛЮ ИЛИ ПАРТНЕРУ
                    <br><br> Сервис tatex.kz <em></em> оставляет за собой право отправлять всем Пользователям
                    электронные письма (push уведомления) с информацией о важных изменениях и улучшениях в Сервисе, а
                    также иного содержания непосредственно касающихся работы сервиса. tatex.kz может также отправлять
                    электронные сообщения коммерческого характера, в частности рекламные сообщения. Рекламные и другие
                    сообщения коммерческого характера могут также прилагаться к электронным сообщениям, направленным на
                    учетную запись системы или отправленные с нее. <br><br> Ограничение ответственности <br><br> Мы
                    делаем все возможное для соблюдения настоящей политики конфиденциальности, однако, мы не можем
                    гарантировать сохранность информации в случае воздействия факторов. находящихся вне нашего влияния,
                    результатом действия которых станет раскрытие информации. Сайт <a href="/">https://tatex.kz</a> и
                    вся размещенная на нем информация представлены
                    по принципу "как есть" без каких-либо гарантий. Мы не несем ответственности за неблагоприятные
                    последствия, а также за любые убытки, причиненные вследствие ограничения доступа к сайту Сервиса.
                    <br><br> РАЗРЕШЕНИЕ СПОРОВ <br><br> До обращения в суд с иском по спорам, возникающим из отношений
                    между Пользователем и Администрацией Сервиса, обязательным условиями является 1) переговоры. Если не
                    было достигнуто разрешение спорной ситуации, то 2) предъявление письменного предложения о
                    добровольном урегулировании спора. Получатель претензии в течение 30ти календарных дней со дня
                    получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
                    Претензионные письма направляются сторонами курьером, либо заказным почтовым отправлением с
                    уведомлением о вручении последнего адресату по местонахождению сторон. Не допускается направление
                    сторонами претензионных писем иными способами. При недостижении соглашения спор будет передан на
                    рассмотрение в судебный орган в соответствии с действующим законодательством РК. К настоящей
                    Политике и отношениям между Пользователем и Администрацией Сервиса применяется действующее
                    законодательство РК. <br><br> <strong>2.</strong> <strong>Контакты</strong> <br><br> По вопросам,
                    касающимся настоящей политики, просьба обращаться по адресу <a
                        href="mailto:info@tatex.kz">info@tatex.kz</a> <br><br> <br><br>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}