#popup_error span:first-child{
    background-color: rgba(222, 125, 144, 0.1);
}
#popup_error span:nth-child(2){
    background-color: rgba(222, 125, 144, 0.5);
}

#popup_error span:nth-child(3){
    background: none;
    background-color: rgba(222, 125, 144, 0.8);
}
#popup_error span:nth-child(4)::after{
    margin-right: 22px;
    margin-top: 15px
}
#popup_error span:nth-child(4)::before{
    width: 50%;
    margin-left: 20.5px;
    margin-top: 15px;
}