{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Отслеживание' %}{% endblock %}
{% block content %}
<main class="page">
	{% if not error %}
	<section class="page__name page-name">
		<h1 class="page-name__title"><a href="{% if LANGUAGE_CODE != 'ru' %}/{{ LANGUAGE_CODE }}{% endif %}">{% trans 'Отслеживание' %}</a></h1>
	</section>
	<section class="page__tracking tracking">
		<div class="tracking__search search">
			<form action="" class="tracking__search-form search-form">
				<input type="text" class="tracking__search-input search-input" value="{{trackcode}}"
					placeholder="Введите трек-код">
				<button class="tracking__search-btn search-btn"></button>
			</form>
		</div>
		<h2 class="tracking__title">{% trans 'Посылка' %} № {{trackcode}}</h2>

		<div class="tracking__body">
			<div class="tracking__data data-tracking tracking-body">
				<h3 class="data-tracking__title">{% trans 'Данные о посылке' %}</h3>
				<div class="data-tracking__row">
					<div class="data-tracking__item">
						<div class="data-tracking__item-title">{% trans 'Номер заказа' %}</div>
						<div class="data-tracking__item-value">{{trackcode}}</div>
					</div>
					<div class="data-tracking__item">
						<div class="data-tracking__item-title">{% trans 'Адрес доставки' %}</div>
						<div class="data-tracking__item-value">{{addressStr}}</div>
					</div>
				</div>
				<div class="data-tracking__row">
					<div class="data-tracking__item">
						<div class="data-tracking__item-title">{% trans 'Дата отправки' %}</div>
						<div class="data-tracking__item-value">{{dateShipment}}</div>
					</div>
					<div class="data-tracking__item">
						<div class="data-tracking__item-title">{% trans 'Тип доставки' %}</div>
						<div class="data-tracking__item-value">{% trans 'От двери до двери' %}</div>
					</div>
				</div>
			</div>
			<div class="tracking__status status-tracking tracking-body">
				<h3 class="status-tracking__title">{% trans 'Статус' %}</h3>
				<div class="status-tracking__list">
					<div class="status-tracking__item _blue-indicator">
						<span></span>
						<div class="status-tracking__body">
							<div class="status-tracking__body-title">{% trans 'Заказ подтвержден' %}</div>
							<div class="status-tracking__body-value">{{dateApply}}</div>
						</div>
					</div>
					{% for event in events %}
					<div class="status-tracking__item {{event.code}}">
						<span></span>
						<div class="status-tracking__body">
							<div class="status-tracking__body-title">
								{{event.description}}</div>
							<div class="status-tracking__body-value">{{event.date}}</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

	</section>
	{% else %}
	<div style="color:red; text-align: center; padding: 10% 0; text-transform: uppercase; font-size: 40px;">
		{{ errorText}}
	</div>
	{% endif %}
</main>
{% endblock %}